
.icon-feather:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
